<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.otsuland.market.mapper.ProductFavMapper">

    <!-- selectByPidAndUid --> 

    <select id="selectByUidAndPid" resultType="top.otsuland.market.entity.ProductFav">
        select * from product_fav where uid = #{uid} and pid = #{pid};
    </select>

    <!-- selectByUid --> 

    <select id="selectByUid">
        select * from product_fav where uid = #{uid};
    </select>

    <!-- selectIdsByUid --> 

    <select id="selectIdsByUid">
        select id from product_fav where uid = #{uid};
    </select>
    
</mapper>